aiodns==4.0.4
aiohappyeyeballs==2.7.1
aiohttp==3.8.2
aiosignal==1.4.0
alpaca-py==0.43.5
alpaca-trade-api==3.1.1
alpha_vantage==3.0.0
annotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.14.1
appdirs==1.4.4
APScheduler==3.10.4
asttokens==3.0.1
async-timeout==4.0.3
attrs==26.1.0
backports-datetime-fromisoformat==2.0.3
bcrypt==5.0.0
beautifulsoup4==4.15.0
bidict==0.23.1
blinker==1.9.0
ccxt==4.1.78
certifi==2025.11.12
cffi==2.1.0
charset-normalizer==2.1.1
click==8.4.2
contourpy==1.3.2
cryptography==49.0.0
curl_cffi==0.15.0
cycler==0.12.1
decorator==5.3.1
deprecation==2.1.0
dnspython==2.8.0
email-validator==2.3.0
exceptiongroup==1.3.1
exchange_calendars==4.13.2
executing==2.2.1
filelock==3.29.7
Flask==3.1.3
Flask-Login==0.6.3
flask-marshmallow==1.5.0
Flask-Principal==0.4.0
Flask-Security==5.8.1
Flask-SocketIO==5.6.1
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.3.0
fonttools==4.63.0
frozenlist==1.8.0
fsspec==2026.6.0
h11==0.16.0
hf-xet==1.5.1
httpcore==1.0.9
httpx==0.28.1
huggingface_hub==1.22.0
ibapi==9.81.1.post1
idna==3.18
inflection==0.5.1
iniconfig==2.3.0
ipython==8.39.0
itsdangerous==2.2.0
jedi==0.20.0
Jinja2==3.1.6
jsonpickle==4.1.2
kiwisolver==1.5.0
korean_lunar_calendar==0.4.0
libpass==1.9.3
lumibot==2.9.13
lxml==6.1.1
markdown-it-py==4.2.0
MarkupSafe==3.0.3
marshmallow==4.3.0
marshmallow-sqlalchemy==1.5.0
matplotlib==3.10.9
matplotlib-inline==0.2.2
mdurl==0.1.2
more-itertools==11.1.0
mpmath==1.3.0
msgpack==1.0.3
multidict==5.2.0
multitasking==0.0.13
narwhals==2.23.0
networkx==3.4.2
numpy==1.26.4
packaging==26.0
pandas==2.0.3
pandas-datareader==0.10.0
pandas_market_calendars==5.4.0
parso==0.8.7
peewee==4.1.1
pexpect==4.9.0
pillow==12.3.0
platformdirs==4.10.0
plotly==6.8.0
pluggy==1.6.0
polygon-api-client==1.16.3
prompt_toolkit==3.0.52
propcache==0.5.2
protobuf==7.35.1
ptyprocess==0.7.0
pure_eval==0.2.3
pyarrow==24.0.0
pycares==5.0.1
pycparser==3.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pyluach==2.3.0
pyparsing==3.3.2
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
python-engineio==4.13.3
python-socketio==5.16.3
pytz==2026.2
PyYAML==6.0.1
Quandl==3.7.0
QuantStats==0.0.61
regex==2026.6.28
requests==2.34.2
rich==15.0.0
safetensors==0.8.0
scipy==1.10.1
seaborn==0.13.2
shellingham==1.5.4
simple-websocket==1.1.0
six==1.17.0
soupsieve==2.8.4
SQLAlchemy==2.0.51
sseclient-py==1.9.0
stack-data==0.6.3
sympy==1.14.0
tabulate==0.10.0
termcolor==3.3.0
tokenizers==0.22.2
tomli==2.4.1
toolz==1.1.0
torch==2.13.0
torchaudio==2.11.0
torchvision==0.28.0
tqdm==4.68.4
traitlets==5.15.1
transformers==5.13.0
typer==0.26.8
typing-inspection==0.4.2
typing_extensions==4.16.0
tzdata==2026.2
tzlocal==5.4.4
urllib3==1.26.20
wcwidth==0.8.2
websocket-client==1.9.0
websockets==16.0
Werkzeug==3.1.8
wsproto==1.3.2
WTForms==3.2.2
yarl==1.24.2
yfinance==1.5.1
